<div class="custom-home">
  <img id="bf-home-random-img" alt="Homepage image" loading="eager" />
  <h1>It works</h1>
  <p>This is the custom homepage.</p>
  <a class="btn btn-primary" href="/latest">Enter the forum</a>
</div>
