<div class="custom-home">
  <div class="home-hero">
    <img
      id="bf-home-random-img"
      alt="Homepage image"
      loading="eager"
    />

    <div class="home-title">
      <div class="home-kicker">Welcome to</div>
      <div class="home-name">Briar Fray</div>
    </div>
  </div>

  <a class="btn btn-primary" href="/latest">Enter the forum</a>
</div>
