<div class="custom-home">
  <div class="home-title-block">
    <div class="home-kicker">Welcome to</div>
    <div class="home-name">Briar Fray</div>
  </div>

  <img
    id="bf-home-random-img"
    alt="Homepage image"
    loading="eager"
  />

  <a class="btn btn-primary" href="/latest">Enter the forum</a>
</div>

